*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #ffa585, #45c5d8);
    color: #fff;
}

.container{
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 28px 32px;
    display: flex;
    flex-direction: column;
    background: transparent;
    box-shadow: 8px 4px 4px #909090 , 8px 8px 0px #575757;
}

.container h1{
    font-size: 1.4rem;
    margin-block: 8px;
}

.inputBox{
    position: relative;
}

.inputBox span{
    position: absolute;
    top: 16px;
    right: 6px;
    color: black;
    font-size: 28px;
    cursor: pointer;
}

.passBox{
    background-color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    font-size: 20px;
    margin-block: 8px;
}

.row{
    display: flex;
    margin-block: 8px;
}

.row p{
    flex-basis:100%;
    font-size: 18px;
}

.row label{
    flex-basis:100%;
    font-size: 18px;
}

.row input[type="checkbox"]{
    width: 20px;
    height: 20px;
}


.gtnBtn{
    border: none;
    outline: none;
    background-color: #5f7fea;
    padding: 12px 24px;
    color: #fff;
    font-size: 18px;
    margin-block: 8px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 4px;
}

.gtnBtn:hover{
    background-color: #0066ff;
}